node_modules
public/hot
public/storage
storage/*.key
storage/app/userstorage
.scribe
vendor
/mysql
/public
/storage
/vendor
!resources/views/vendor/

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

package-lock.json
_ide_helper.php
